@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

*{
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
}

img{
  max-width: 100%;
  display: block;
}

html{
  font-size: 62.5%;
}

button{
  cursor: pointer;
}


body{
  background:linen;
}
